.aboutus-section {
  font-family: "HCLTechRoobert-Medium", sans-serif;
  padding: 40px 20px;
  background: -webkit-linear-gradient(359.7deg, #773cce .28%, #3a70ef 99.78%);
  background: -o-linear-gradient(359.7deg, #773cce .28%, #3a70ef 99.78%);
  background: linear-gradient(90.3deg, #773cce .28%, #3a70ef 99.78%);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  /* background: linear-gradient(85.48deg, #7abef7 1.81%, #407ff5d6 43.03%, #7647d5d0 68.71%, #582ac2c2 89.75%); */
  color: #131313;
  line-height: 1.6;
}

.dark .aboutus-section {
  background-color: #253443;
  /* color: #f0f0f0; */
}

.aboutus-container {
  max-width: 900px;
  margin: 0 auto;
}

.aboutus-title {
  font-family: "HCLTechRoobert-Bold", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.aboutus-subheading {
  font-family: "HCLTechRoobert-Medium", sans-serif;
  font-size: 1.6rem;
  margin-top: 30px;
  /* color: #0055ff; */
}

.aboutus-feature-list {
  font-family: "HCLTechRoobert-Light", sans-serif;
  padding-left: 20px;
  list-style-type: none;
}

.aboutus-feature-list li {
  margin-bottom: 10px;
}

.aboutus-cta-button {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 25px;
  background-color: #5100b3;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.aboutus-cta-button:hover {
  background-color: #5100b3;
}

.aboutus-description {
  margin-bottom: 16px;
}

.aboutus-footer {
  padding: 20px 0;
  font-size: 0.95rem;
}

.aboutus-footer a {
  color: #edaa02;
  text-decoration: underline;
}

.aboutus-footer a:hover {
  color: #002b80;
}